<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flow</title>
<link href="boilerplate.css" rel="stylesheet" type="text/css">
<link href="CSS/FirstPageStyle.css" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="respond.min.js"></script>
</head>
<body> 
<div class="gridContainer clearfix ">
  <div id="imageContainer"  class="chromeframe fluid"><img src="IMG/banner.png">
  <div class="sign-holder">
  <a id="signUP" class="btn">Sign UP</a>
  <a id="signIN" class="btn">Sign IN</a>
  </div>
  </div>
  <div id="about" class="fluid">
  	<div class="gridContainer">
    	<div class="container-fluid">
    		<div id="user" class="col-ls-3">
            	<h3> what is "FLOW"</h3>
                <p>flow is a social network that let's you to share your news with everybody and they share it with everybody they know and it shared again and again to everyone know it</p>
            </div>
            
            <div id="user" class="col-ls-3">
            	<h3> what is "FLOW"</h3>
                <p>flow is a social network that let's you to share your news with everybody and they share it with everybody they know and it shared again and again to everyone know it</p>
            </div>
            
            <div id="user" class="col-ls-3">
            	<h3> what is "FLOW"</h3>
                <p>flow is a social network that let's you to share your news with everybody and they share it with everybody they know and it shared again and again to everyone know it</p>
            </div>
            
           <div class="videocontainer">
           		<video controls>
                	<source src="../../host10.aparat.com__public_user_data_flv_video_new_167_0237efe8b18cedfea8b59a03050e3685500785.mp4" type="video/mp4">
                   
                </video>
           </div>
        </div>
    </div>
  </div>
</div>
</body>
</html>
