
<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{%block title%}Graph{%endblock%}</title>
<link href="{% static "boilerplate.css"%}" rel="stylesheet" type="text/css">
<link href="{% static "CSS/FirstPageStyle.css"%}" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="{% static "respond.min.js"%}"></script>
</head>
<body> 
<div id="total" class="gridContainer clearfix ">
{% block total %}
  <div id="imageContainer"  class="chromeframe fluid"><img src="{% static "IMG/banner.png"%}">
  {%block imagecontainer%}
  <div id="btnholder" class="sign-holder">
  {%block btnholder %}
  <a id="signUP" class="btn">Sign UP</a>
  <a id="signIN" class="btn">Sign IN</a>
  {%endblock btnholder%}
  </div>
  {%endblock imagecontainer%}
  </div>
  <div id="about" class="fluid">
  {%block about%}
  	<div id="gridContainer"class="gridContainer">
    {%block gridContainer%}
    	<div class="container-fluid" id="userholder">
        {%block userholder%}
    		<div id="user-1" class="col-ls-3">
            {%block user-1 %}
            	<h3> what is "GRAPH"</h3>
                <p>GRAPH is a social network that let's you share your news with everybody and they share it with everybody they know and it's shared again and again till everyone knows it</p>
                {%endblock user-1%}
            </div>
            
            <div id="user-2" class="col-ls-3">
            {%block user-2 %}
            	<h3> what is "GRAPH"</h3>
                <p>GRAPH is a social network that let's you share your news with everybody and they share it with everybody they know and it's shared again and again till everyone knows it</p>
                {%endblock user-2%}
            </div>
            
            <div id="user-3" class="col-ls-3">
            {%block user-3 %}
            	<h3> what is "GRAPH"</h3>
                <p>GRAPH is a social network that let's you share your news with everybody and they share it with everybody they know and it's shared again and again till everyone knows it</p>
                {%endblock user-3%}
            </div>

           <div id="videocontainer" class="videocontainer">
           {%block videocontainer %}
           		<video controls>
                	<source src="{% static link.mp4 %}" type="video/mp4">

                </video>
                {%endblock videocontainer%}
           </div>
           {%endblock userholder%}
        </div>
        {%endblock gridContainer%}
    </div>
    {%endblock about%}
  </div>
{% endblock total %}
</div>
</body>
</html>
