<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
{% load static %}
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{%block title%}Graph{%endblock%}</title>
<link href="{% static 'template/boilerplate.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'template/CSS/login.css'%}" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="{% static 'template/respond.min.js'%}"></script>
</head>
<body>
    <div >		
     <fieldset>
        <form action="/login/login" method="POST" id="Sign Up!" style="margin-top:3%;">
		        {% csrf_token %}
		        <em>{{SERVER_MESSAGE}}</em>
                <legend style="font-size:18; color:#000000 ;"><b>Login</b></legend>
                <input type="email" size="25" name="email" placeholder="Email" style="font-size:16;"><br>
                <input type="password" size="25" name="password" placeholder="Password" style="font-size:16;"><br>
                <input type="submit" name="Login" value="Connect to Graph" class="btn">
                <p style="color:#FF0000; font-size:15;">{{ message }}</p>
                Not joint to Graph? Click 
                <a href="/create/">Here</a> .
        </form>
     </fieldset>
    </div>
</body>

</html>
