<hmtl>
	<body>
		<form>
			You are lookin at: {{VERTEX_DETAIL}}
			<br><a href="/home/">home</a> 
			<br>
		</form>
		<form action="/vertex/{{VERTEX_ID}}/" method="POST" id="Add" style="margin-top:3%;">
				{% csrf_token %}
                <input type="submit" name="Follow" value="Connect to" style="float:left; margin-left:5px; font-size:15;">
        </form>
	</body>
	
	<form>
	<br>
	{% csrf_token %}
	<br> Following:
	{% for vertex in FOLLOWING_VERTEX %}
	 	<br>{{vertex}}
	{% endfor %}
	<br>
	<br> Followers:
	{% for vertex in FOLLOWER_VERTEX %}
	 	<br>{{vertex}}
	{% endfor %}
</hmtl>
