@charset "utf-8";
/* CSS Document */
nav{
	background:#f9f9f9;
	border-bottom:solid 1px #000;
}
.nav{
	border-radius:0px;
	
}
.nav-pills{
	border-radius:0px;
}
body{
	background:#6498B1;
}
div#feeds{
	text-align:center;
}
section.post{
	color:#454545;
	text-align:left;
	background:none;
	padding:5px;
}
div.detail{
	
	display:inline-block;
	overflow:hidden;
	color:#aaa;
	font-size:0.8em;
	
}
img.who{
	background:#6498B1;
	width:75px;
	height:75px;
}
article.post{
	width:80%;
	background:#fff;
	margin-top:15px;
	padding:25px;
	border-radius :10px;
	box-shadow:5px 5px 0px #006666;
}
.chatbar{
	position:fixed;
	height:100%;
	background:#f9f9f9;
	border-radius: 15px 15px 0px 0px ;
	padding:15px;
	box-shadow:5px 5px 0px #006666;
}
div.friendholder{
	background:#e9e9e9;
	border-radius:5px;
	border:solid 1px #ccc;
	padding:2px;
	margin:5px;
}
div.friendholder img{
	height:28px;
	width:28px;
}