<!DOCTYPE HTML>

<html>

<head>
  <title>Sign In</title>
  <link href="StyleSheet.css" rel="stylesheet" />
</head>

<body>

                 <img src="banner.jpg" alt="Graph" width="100%"  style=" margin-top: 5px" />
                 <br/>


    <div>
            <table style="padding-right:5px mar; margin-left: 50px; margin-right: 50px">
                    <tr>
                        <td  style="padding-left: 20px; padding-right: 20px" >
                            <p  style="font-style: italic;"><strong>SOME GRAPH FEATURES:</strong>  </p>
                             -Connect with friends and the world around you <br/>
                             -See photos and updates    <br/>
                             -Share what's new in your life on your Timeline. <br/>
                              And more ...                                <br/>

                            <p style="font-style:italic;"> <strong>Why GRAPH?</strong> </p>
                             It can provide an accessible and powerful toolkit for highlighting
                             and acting on issues and causes that affect and interest you.It can be
                             used for organising activities, events, or groups to showcase issues
                             and opinions and make a wider audience aware of them.      <br/>
                               <br/>
                            <b>Not yet registered?</b>  Sign Up here

                        </td>
                        <td>        <br/>  <br/>
                                 <fieldset style="margin-left: 100px;  margin-right:20px;padding-left: 36px; padding-right: 30px;padding-bottom: 30px; "Sign In"">
                                        <div>
                                         <table margin:"Center" font-family: "Arial">
                                                 <tr>
                                                     <td> &nbsp;</td>
                                                     <td> &nbsp;</td>
                                                 </tr>
                                                 <tr align="Center">
                                                          <td col span="2">
                                                          <img src="Logons.jpg" width="100px" alt="" />
                                                          </td>
                                                 </tr>
                                                 <tr>
                                                        <td>
                                                            Username
                                                        </td>
                                                        <td>
                                                        <input type="text" name="username" id="user" />
                                                        </td>
                                                 </tr>

                                                 <tr>
                                                        <td>
                                                            Password
                                                        </td>
                                                        <td>
                                                            <input type="text" name="password" id="pass" />
                                                        </td>
                                                 </tr>
                                                 <tr>
                                                        <td>
                                                            Confirm Password
                                                        </td>
                                                        <td>
                                                            <input type="text" name="CPass" id="CPass"/>
                                                        </td>

                                                 </tr>
                                                 <tr>
                                                        <td> &nbsp;</td>
                                                        <td>
                                                        <input type="button" value="Login" size="180" />
                                                        </td>
                                                 </tr>


                                         </table>
                                         </div>
                                 </fieldset>
                        </td>

                    </tr>
            </table>
    </div>
</body>

</html>