@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
@keyframes fadein{
	0%  {filter:blur(5px);-o-filter : blur(5px);-moz-filter : blur(5px);}
	25%  {filter:blur(3px);-o-filter : blur(3px);-moz-filter : blur(3px);}
	50%  {filter:blur(2px);-o-filter : blur(2px);-moz-filter : blur(2px);}
	100%  {filter:blur(0px);-o-filter : blur(0px);-moz-filter : blur(0px);}
}
@-webkit-keyframes fadein{
	0%  {-webkit-filter:blur(5px);}
	25%  {-webkit-filter:blur(3px);}
	50%  {-webkit-filter:blur(2px);}
	100%  {-webkit-filter:blur(0px);}
}
div.load{
	position:fixed;
	height:100%;
	width:100%;
	background:#ccc;
	opacity:1;
	text-align:center;
	font-size:3em;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
div.load h3,.load h1{
	opacity:0;
	-webkit-animation:fadein 3s infinite;
	animation:fadein 3s infinite;	
}
div.user{
	position:relative;
	width:100%;
	height:648px;	
	float:left;
	margin-right:0px;
	padding:0px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
}
#first{
	color:#e3e3e3;
	text-align:center;
	background-color:#333;
	background-image:url(../IMG/background.png);
	background-repeat:no-repeat;
	background-position:20% -20% ;
}
#first h1{
	font-size:8em;
	text-shadow:2px 2px 1px #000;
}
#first h3{
	font-size:2em;
	margin-top:-80px;
}
.buttons{
	margin:auto;
}
.btn{
	background:#ccc;
	font-size:1em;
	text-decoration:none;
	color:#333;
	padding:20px;
	position:absolute;
	width:15%;
	height:25px;
	border-radius:5px;
	left:42%;
	right:40%;
}
#signup{
	margin-top:100px;
}
.btn:hover{
	background:#525252;
	color:#e3e3e3;
}
#second{
	box-shadow:0px -10px 35px 5px #222;
	background:#e3e3e3;
	color:#454545;
	text-align:center;
}
.videocontainer{
	
}
.videocontainer video{
	max-height:480px;
	min-height:240px;
}
#third{
	background:#454545;
	color:#ccc;
	text-align:center;
}
#third h2{
	border :dotted 2px #525252;
	border-right:none;
	border-left:none;
	font-size:2em;
}
div.sub_user.first{
	margin-bottom:5px;
	height:250px;
}
div.joint{
	float:left;
	text-align:justify;
	margin-left:35px;
	width:45%;
	font-size:1.1em;
}
div.sub_user.first img{
	width:25%;
}
div.flow{
	float:left;
	width:100%;
	background:#f9f9f9;
	color:#454545;
	margin-top:35px;
}
div.flow strong{
	color:#454545;
}
strong{
	font-size:1.5em;
	color:#e3e3e3;
}
#frth{
	background:#ccc	;
	color:#333;
	text-align:center;
}
#frth a{
	color:#000066;
	text-decoration:none;
}
body{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding:0px;
	margin:0px;
}
.users{
	display:none;
}
